<!doctype HTML>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <title>MediaRank</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/favicons/money_bag.png" type="image/x-icon"/>

  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/42b63e661f.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container2">
    <h1><%= heading %></h1>
    <h5 class="m1">Tax to pay using old method : <%= oldtax %></h3>
    <h5 class="m1">Tax to pay using new method : <%= newtax %></h3>
  </div>
</body>

</html>
